@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F5F7FA;
  --foreground: #171717;
  --primary: #343C6A;
  --secondary: #232323;
  --grey: #B1B1B1;
  --primary-100: #718EBF;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Inter, Lato, sans-serif;
}
